  :root{
}
*{

}
 
header{

    margin-top: 2.5vw;
}

.marginSite{

    margin:0 10vw;
    
}
.flex
{
    display: flex;
    align-items: center;
}
/*header*/
.conteinerMenuPrincipal{
    margin-left: 5vw;
    justify-content: space-between;
    width: 100%;
}